VITE_SUPABASE_URL=https://qzawmsaeawjotontouxr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6YXdtc2FlYXdqb3RvbnRvdXhyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxMDY5NTcsImV4cCI6MjA5NzY4Mjk1N30.fGbUfZMrhzQta16ph4j295F4SEz_EB0H9yDZpHQnEk0
